<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgq.mapper.AdmScholarshipSysUserMapper">

    <select id="selectPageVo" resultType="com.wgq.entity.dto.AdmScholarshipSysUserDto">
        SELECT
        *
        FROM
        adm_scholarship_sys_user
        WHERE
        id IN
        <foreach collection="idList" open="(" close=")" separator="," item="id" index="index">
            #{id}
        </foreach>
        order by created
    </select>
    <select id="selectAdmScholarshipSysUserDtoById"
            resultType="com.wgq.entity.dto.AdmScholarshipSysUserDto">
        SELECT
        *
        FROM
        adm_scholarship_sys_user
        WHERE
        id = #{id}
    </select>
    <select id="searchMyByKeyWord" resultType="com.wgq.entity.dto.AdmScholarshipSysUserDto">
        SELECT
        *
        FROM
        adm_scholarship_sys_user
        WHERE
        user_id = #{userId}
        <if test="name !=null and name!= '' ">
            AND scholarship_id IN ( SELECT id FROM adm_scholarship WHERE name LIKE "%"#{name,jdbcType=VARCHAR}"%" )
        </if>
        order by created
    </select>
    <select id="selectApplyScholarshipList" resultType="com.wgq.entity.dto.AdmScholarshipSysUserDto">
        SELECT
        *
        FROM
        adm_scholarship_sys_user
        WHERE
        1 = 1
        <if test="realname !=null and realname!= '' ">
            AND user_id IN ( SELECT id FROM sys_user WHERE realname LIKE "%"#{realname,jdbcType=VARCHAR}"%" )
        </if>
        <if test="type !=null and type!= '' ">
            AND name=#{type}
        </if>
        order by created
    </select>
</mapper>
